* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #333;
}

nav {
  width: 100%;
  height: 10vh;
  background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1));
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 3vh;
}

nav ul li a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.1em;
}

/* CONTENT */

header {
  width: 100%;
  height: 100vh;
}

.bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("https://images.unsplash.com/photo-1503726876301-67e54d319b60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1443&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.content {
  width: 90%;
  height: 70%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column {
  width: 28%;
  height: 85%;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.8;
  transition: 0.3s ease;
}

.column:hover {
  width: 30%;
  height: 100%;
}

.column .htop {
  width: 100%;
  height: 60%;
  background:#2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column .htop img {
  width: 50%;
  height: auto;
}

.column .hmid {
  width: 100%;
  height: 10%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.column .hbot {
  width: 100%;
  height: 30%;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

.column .hbot p {
  width: 80%;
  height: auto;
  text-align: center;
}

/* FOOTER */

footer {
  background: #fff;
  height: 100vh;
  width: 100%;
  position: relative;
}

.bgf {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.contentf {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contentf .ftop {
  width: 100%;
  height: 45%;
}

.contentf .fbot {
  width: 100%;
  height: 55%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

input[type='search'] {
  border-radius: 50px;
  padding: 2vh 3vh;
  outline: none;
  border: none;
  color: #333;
  width: 50%;
  height: 10vh;
  font-size: 1.5em;
  opacity: 0.7;
}

.title  {
  overflow: hidden;
  width: 60%;
  height: 35%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}

.paragraf {
  overflow: hidden;
  width: 60%;
  height: 70%;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2em;
  text-align: center;
}